/* BASIC STYLES HERE */

.host-grotesk-font {
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #89ABE3;
    color: #ffeddb;
}

body {
    background-color: #89ABE3
}

label {
    font-weight: bold;
    font-size: 1rem;
}

.secondaryBrown {
    background-color: #CADCFC;
}

.lightBlue {
    background-color: #CADCFC;
}


.textColor {
    color: #4B0082;
}

.buttonBg {
    background-color: #FFFFFF;
    /* border: 2px solid #CBDCEB; */
    height: 40px;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 8px;
}

.imageFit {
    object-position: center;
    height: 40dvh;
    width: 30dvw;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.color-picker {
    width: 40px;
    height: 40px;
    border: #FFFFFF;
    /* border-radius: 50%; */
    padding: 0;
    margin: 0;
}


.noteBody {
    max-height: 15dvh;
    overflow-y: hidden;
}

.clickable-element {
    transition: box-shadow 0.3s ease;
}

.clickable-element:hover {
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.formOverflow {
    overflow-y: hidden
}

.textInput {
    border: none;
    background-color: #CADCFC;
}

#jotTitle {
    background-color: #FFFFFF;
    border: #FFFFFF;
    height: 40px;
}

#jotInput {
    position: relative;
}

.jotBorder {
    border-left: 5px solid;
}

.formOverflow {
    overflow-y: scroll;
    max-height: 55dvh;
    scrollbar-width: none;
    position: relative;
}

.formOverflow::-webkit-scrollbar {
    display: none;
}

#jotBody {
    background-color: #89ABE3;
    resize: none;
    overflow: auto;
    height: auto;
}

#jotBody::-webkit-scrollbar {
    width: 12px;
    scroll-behavior: auto;
}

#jotBody::-webkit-scrollbar-track {
    background-color: #2d62b7;
}

#jotBody::-webkit-scrollbar-thumb {
    background-color: #CADCFC;
    border-radius: 10px;
}


#jotBody:focus {
    background-color: #89ABE3;
}